.App {
  width: 100vw; /* 뷰포트 전체 너비 */
  height: 100vh; /* 뷰포트 전체 높이 */
  text-align: center;
  display: flex; /* Flexbox 설정 */
  flex-direction: column; /* 세로 방향 정렬 */
  align-items: center; /* 가로 방향 중앙 정렬 */
  justify-content: flex-start; /* 콘텐츠가 상단부터 배치되도록 설정 */
  min-height: 100vh; /* 화면 전체를 차지하도록 설정 */
}

